@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --grey-color: grey;
    --soft-black:#232323;
    --background:#f0f2f6;
    --white:white;
    --pri-color:#45ac64;
    --sec-color:#468ffe;
    --btn-hover:#2d954c;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito";
  }
  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    background:linear-gradient(#5ad25c,#fff7f9);
}

.wrapper{
    max-width: 75%;
    margin: auto;
}

.wrapper > p, 
.wrapper > h1 {
    margin: 1. Srem 0;
    align-items: centre;

}
.wrapper > h1 {
    letter-spacing: 3px;
}

.accordion{
    background-color: white;
    color: rgba(0,0,0,0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.accordion i{
    font-size: 1.6rem;
}

.active,
 .accordion:hover{
    background-color: burlywood;
}
.pannel{
    padding: 0 2rem 2.5rem;
    background-color: white;
    overflow: hidden;
    background-color: burlywood;
    display: none;
}

.pannel p{
    color: rgba(0,0,0,0.7);
    font-size: 1.2rem;
    line-height: 1.4;
}

.faq{
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
}
.faq.active{
    border: none;
}