*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -----preloader --------- */

.preloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, #2c3e50, #4ca1af);
  height: 100vh;
  justify-content: center;
}



.loader {
  display: flex;
  justify-content: space-around;
  width: 100px;
  margin-bottom: 20px;
}


.loader .dot {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  animation: wave 1.2s infinite ease-in-out;
}

.loader .dot:nth-child(1) {
  animation-delay: 0s;
}

.loader .dot:nth-child(2) {
  animation-delay: 0.2s;
}

.loader .dot:nth-child(3) {
  animation-delay: 0.4s;
}

.loader .dot:nth-child(4) {
  animation-delay: 0.6s;
}


.loading-text, .brand-name {
  margin: 0;
  font-size: 2rem;
  color: white;
  font-weight: 600;
}


@keyframes wave {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 80%, 100% {
      transform: scale(0);
  }
  40% {
      transform: scale(1);
  }
}

/* ----preloader ----- */